$primary-color: #edb114;
$secondary-color: #fef5de;
$heading-color: #000;
$heading-font-weight:500;
$text-color: #484848;
$text-font: 'Poppins', sans-serif;
$heading-font: 'Poppins', sans-serif;
$heading-font-size: 16px;
$globaltransition: 0.5s ease-in-out;

@mixin nav-link {
    color:#fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: $heading-font;
    transition: $globaltransition;
    text-transform: uppercase;
}

@mixin owl-dot{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #f3f5f8;
    border: 1px solid $primary-color;
    margin: 3px;
}


// @mixin font($size,$weight){
//     font-size:$size;
//     font-weight: $weight;
// }